* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica;
}

.content {
    max-width: 114rem;
    margin: 0 auto;
}

.heading-main {
    font-size: 4rem;
    font-weight: lighter;
    color: tomato;
    margin-bottom: 4rem;
}